deliveryClient/WindowsFormsDeliveryClient/WindowsFormsDeliveryClient/Service References/ItemReference/ItemService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ItemService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/delivery1/ItemService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/delivery1/ItemService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/delivery1/ItemService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/delivery1.App_Code.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IItemService_AddItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddItem" />
  </wsdl:message>
  <wsdl:message name="IItemService_AddItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddItemResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_DeleteItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItem" />
  </wsdl:message>
  <wsdl:message name="IItemService_DeleteItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItemResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_EditItem_InputMessage">
    <wsdl:part name="parameters" element="tns:EditItem" />
  </wsdl:message>
  <wsdl:message name="IItemService_EditItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditItemResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_FindItem_InputMessage">
    <wsdl:part name="parameters" element="tns:FindItem" />
  </wsdl:message>
  <wsdl:message name="IItemService_FindItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindItemResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_AllItems_InputMessage">
    <wsdl:part name="parameters" element="tns:AllItems" />
  </wsdl:message>
  <wsdl:message name="IItemService_AllItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllItemsResponse" />
  </wsdl:message>
  <wsdl:portType name="IItemService">
    <wsdl:operation name="AddItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/AddItem" message="tns:IItemService_AddItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/AddItemResponse" message="tns:IItemService_AddItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/DeleteItem" message="tns:IItemService_DeleteItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/DeleteItemResponse" message="tns:IItemService_DeleteItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/EditItem" message="tns:IItemService_EditItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/EditItemResponse" message="tns:IItemService_EditItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/FindItem" message="tns:IItemService_FindItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/FindItemResponse" message="tns:IItemService_FindItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/AllItems" message="tns:IItemService_AllItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/AllItemsResponse" message="tns:IItemService_AllItems_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IItemService" type="tns:IItemService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddItem">
      <soap:operation soapAction="http://tempuri.org/IItemService/AddItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteItem">
      <soap:operation soapAction="http://tempuri.org/IItemService/DeleteItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditItem">
      <soap:operation soapAction="http://tempuri.org/IItemService/EditItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindItem">
      <soap:operation soapAction="http://tempuri.org/IItemService/FindItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllItems">
      <soap:operation soapAction="http://tempuri.org/IItemService/AllItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ItemService">
    <wsdl:port name="BasicHttpBinding_IItemService" binding="tns:BasicHttpBinding_IItemService">
      <soap:address location="http://localhost/delivery1/ItemService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>