deliveryClient/WindowsFormsDeliveryClient/WindowsFormsDeliveryClient/Service References/OrderReference/OrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/delivery1/OrderService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/delivery1/OrderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/delivery1/OrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/delivery1.App_Code.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderService_AddOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_AddOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_DeleteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_DeleteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_FindOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:FindOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_FindOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_FindAllOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllOrders" />
  </wsdl:message>
  <wsdl:message name="IOrderService_FindAllOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_EditLoader_InputMessage">
    <wsdl:part name="parameters" element="tns:EditLoader" />
  </wsdl:message>
  <wsdl:message name="IOrderService_EditLoader_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditLoaderResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderService">
    <wsdl:operation name="AddOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/AddOrder" message="tns:IOrderService_AddOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/AddOrderResponse" message="tns:IOrderService_AddOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/DeleteOrder" message="tns:IOrderService_DeleteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/DeleteOrderResponse" message="tns:IOrderService_DeleteOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/FindOrder" message="tns:IOrderService_FindOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/FindOrderResponse" message="tns:IOrderService_FindOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/FindAllOrders" message="tns:IOrderService_FindAllOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/FindAllOrdersResponse" message="tns:IOrderService_FindAllOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditLoader">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/EditLoader" message="tns:IOrderService_EditLoader_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/EditLoaderResponse" message="tns:IOrderService_EditLoader_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrderService" type="tns:IOrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/AddOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/DeleteOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/FindOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllOrders">
      <soap:operation soapAction="http://tempuri.org/IOrderService/FindAllOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditLoader">
      <soap:operation soapAction="http://tempuri.org/IOrderService/EditLoader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderService">
    <wsdl:port name="BasicHttpBinding_IOrderService" binding="tns:BasicHttpBinding_IOrderService">
      <soap:address location="http://localhost/delivery1/OrderService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>