deliveryClient/WindowsFormsDeliveryClient/WindowsFormsDeliveryClient/Service References/ClientReference/ClientService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/delivery1/ClientService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/delivery1/ClientService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/delivery1/ClientService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/delivery1.App_Code.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientService_AddClient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddClient" />
  </wsdl:message>
  <wsdl:message name="IClientService_AddClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_DeleteClient_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClient" />
  </wsdl:message>
  <wsdl:message name="IClientService_DeleteClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_EditClient_InputMessage">
    <wsdl:part name="parameters" element="tns:EditClient" />
  </wsdl:message>
  <wsdl:message name="IClientService_EditClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_FindClient_InputMessage">
    <wsdl:part name="parameters" element="tns:FindClient" />
  </wsdl:message>
  <wsdl:message name="IClientService_FindClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_AllClient_InputMessage">
    <wsdl:part name="parameters" element="tns:AllClient" />
  </wsdl:message>
  <wsdl:message name="IClientService_AllClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllClientResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientService">
    <wsdl:operation name="AddClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/AddClient" message="tns:IClientService_AddClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/AddClientResponse" message="tns:IClientService_AddClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/DeleteClient" message="tns:IClientService_DeleteClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/DeleteClientResponse" message="tns:IClientService_DeleteClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/EditClient" message="tns:IClientService_EditClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/EditClientResponse" message="tns:IClientService_EditClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/FindClient" message="tns:IClientService_FindClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/FindClientResponse" message="tns:IClientService_FindClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/AllClient" message="tns:IClientService_AllClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/AllClientResponse" message="tns:IClientService_AllClient_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClientService" type="tns:IClientService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddClient">
      <soap:operation soapAction="http://tempuri.org/IClientService/AddClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClient">
      <soap:operation soapAction="http://tempuri.org/IClientService/DeleteClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditClient">
      <soap:operation soapAction="http://tempuri.org/IClientService/EditClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindClient">
      <soap:operation soapAction="http://tempuri.org/IClientService/FindClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllClient">
      <soap:operation soapAction="http://tempuri.org/IClientService/AllClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientService">
    <wsdl:port name="BasicHttpBinding_IClientService" binding="tns:BasicHttpBinding_IClientService">
      <soap:address location="http://localhost/delivery1/ClientService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>